<div class="card back " >
  <div class="card-body">
    <h5 class="card-title" style="color: #2D2D2D; font-weight: 700;">Air Quality</h5>
    <div class="row">
      <div class="col-6">
        <div class="circle">
          <h1 class="numb">72</h1>
        </div>
      </div>
      <div class="col-6">
        <div>
          <h3 class="count">   <i style="color: #83d5b1;" class="fas fa-arrow-up"></i> 93</h3>
        </div>
        <hr style="color: #999999;">
        <div>
          <h3 class="count">   <i style="color: #fbbd43;" class="fas fa-arrow-down"></i> 61</h3>
        </div>
      </div>
    </div>
  </div>
</div>
