
<div class="body">
  <div class="container-fluid">
    <div class="row">
      <div class="col logo-head">
        <img src="assets/icons/logo.svg" class="logo"  alt="">
      </div>
    </div>
    <div class="row">
      <div class="col close">
        <app-air-quality class="add-center"></app-air-quality>
      </div>
      <div class="col close">
        <app-temparature class="add-center"></app-temparature>
      </div>
      <div class="col close">
        <app-audio class="add-center"></app-audio>
      </div>
      <div class="col close">
        <app-displays class="add-center"></app-displays>
      </div>
      <div class="col close">
        <app-lighting class="add-center"></app-lighting>
      </div>
    </div>
  </div>

</div>
