<div class="card back " >
  <div class="card-body">
    <h5 class="card-title" style="color: #2D2D2D; font-weight: 700;">Displays</h5>
    <div class="row">
      <div class="col-6">
        <h1 class="numb">10 <span style="font-size:15px">/16</span> </h1>
      </div>
      <!-- <div class="col-6 mid">
        <h5 class="badg"> <span >Playing</span></h5>
      </div> -->
      <div class="col-6 last">
        <h6 class="extend"><span class="count">On Time</span> <span class="add">00:00</span></h6>
      </div>
    </div>
  </div>
</div>
